.title {
	text-transform: uppercase;
	font-size: 5vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	cursor: pointer;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divider {
	margin: 8px;
	width: 100%;
	background-color: #39445ad9;
}
